
#events-list{
    
    height: 90vh;
    width: 90vw;
    overflow: scroll;
    
    
}
.event-future-indicator{
    display: block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 158, 0);
    grid-column: 4;
    grid-row: 4;
}
.event-past-indicator{
    display: block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 196, 0);
    grid-column: 4;
    grid-row: 4;
}

.event-body{
    margin: 0 auto;
    padding: 1%;
    border:1px solid rgba(0,0,0,.1);
    border-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-rows: 1fr 2fr .5fr;
    
}
.event-body:hover {
    background-color: #dfdfdf;
}
.event-body:nth-child(2n+1){
    background-color: aliceblue;
}
.event-body:nth-child(2n+1):hover{
    
    background-color: rgb(208, 219, 230);
}

.event-title{
    grid-column: 1;
    grid-row: 1;
}
.event-category{
    grid-column: 2;
    grid-row: 1;
}
.event-desc{
    padding: 1vh;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 4;
}
.event-time{
    grid-row: 3;
    grid-column: 3;
}