
#events-list{
    position: relative;
    top:6vh;
    height: 84vh;    
    overflow: scroll;

    
}
#events-list::-webkit-scrollbar {
    display: none;
}


.event-body{
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    border:2px solid rgba(105, 105, 105, 0.158);
    border-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 2fr 1fr .5fr;
    
}
.event-body:hover {
    background-color: rgb(21, 40, 56);
}
.event-body:nth-child(2n+1):hover{
    
    background-color: rgb(21, 40, 56);
}

.event-title{
    grid-column: 1;
    grid-row: 1;
}
.event-category{
    grid-column: 2;
    grid-row: 1;

}
.event-desc{
    padding: 1vh;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 3;
    
}
.event-time{
    grid-row-start: 4;
    grid-row-end: span 4;
    grid-column-start: 3;
    grid-column-end: span 3;
    display: flex;
    justify-self: center;
}
.tense-indicator{
    display: flex;
    grid-column-start: 4;
    grid-column-end: span 4;
    grid-row-start: 3;
    grid-row-end: span 4;
    justify-self: start;
    align-self: end;
}
.event-future-indicator{
    display: block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 158, 0);
    
}
.event-past-indicator{
    display: block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 196, 0);
}
.event-options{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 4;
    display:flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: column;
}
/* Button style */
.btn-primary {
    margin: 0 1vw;
    font-weight: 500;
    font-size: 1.1rem;
    height: fit-content;
    padding: 1vh 2vw;
    background-color: rgb(49, 138, 255);
    border-radius: 5px;
    color: #fff;
}
.btn-primary:hover {
    background-color: rgb(13, 114, 247);
    
}
.btn-primary:active{
    background-color: rgb(6, 95, 211);
    
}
#option-bar {
    position: fixed;
    height: 6vh;
    width: 100%;
    background-color: rgb(19, 31, 41);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid rgb(27, 43, 56);
}