<div id="container">
    <div id="navbar-main">
        <nav class="navbar bg-primary" data-bs-theme="dark">
            <div id="grouping-start">
                <h2>{{title}}</h2>
            </div>
            <div id="grouping-middle">
                <a *ngFor="let option of options" class="btn-primary">{{option}}</a>
            </div>
            <div id="grouping-end">
                <div *ngIf="loggedIn" id="logged-in">
                    <a class="btn-primary">Account</a>
                    <a class="btn-primary">Settings</a>
                    
                </div>
                <div *ngIf="loggedIn != true" id="logged-in">
                    <a class="btn-primary">Login</a>
                </div>
            </div>
        </nav>
    </div>
    <app-filter-list></app-filter-list>
    <app-events-list></app-events-list>
</div>    
