/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    font-family: sans-serif;
    
}
body{
    background-color: rgb(17, 33, 46);
    color:#fff;
}

/*Thinner alternative to btn-primary*/
.btn-options {
    margin: 0 1vw;
    font-weight: 500;
    font-size: 1.1rem;
    height: fit-content;
    width: auto;
    padding: .5vh 2vw;
    background-color: rgb(49, 138, 255);
    border-radius: 5px;
    color: #fff;
}
.btn-options:hover {
    background-color: rgb(13, 114, 247);
    
}
.btn-options:active{
    background-color: rgb(6, 95, 211);
    
}

/*Primary button styling*/
.btn-primary {
    margin: 0 1vw;
    font-weight: 500;
    font-size: 1.1rem;
    height: fit-content;
    padding: 1vh 2vw;
    background-color: rgb(49, 138, 255);
    border-radius: 5px;
    color: #fff;
}
.btn-primary:hover {
    background-color: rgb(13, 114, 247);
    
}
.btn-primary:active{
    background-color: rgb(6, 95, 211);
    
}